body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid grey;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}